body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s, color 0.5s;
  background-color: #111;
  color: #fff;
}

.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

.dark-mode .project {
  box-shadow: 0 0 10px #fff;
}

.project {
  border: 2px solid #666;
  padding: 20px;
  margin: 20px;
  transition: box-shadow 0.5s;
}

#toggleDarkMode {
  border-radius: 12px;
  padding: 10px;
  color: #fff;
  background-color: #000;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 10px #666;
}

.light-mode #toggleDarkMode {
  background-color: #fff;
  color: #000;
  box-shadow: none;
}